# Importing orderlines.csv to DataFrame

In [1]:
import pandas as pd 
url = "https://drive.google.com/file/d/14Y7g5ITyf6LMyPoKc9wr010V9StaCUux/view?usp=sharing" # orderlines.csv
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orderlines = pd.read_csv(path)

# Performing some basic operations

There are a few problems with this dataframe: 
- product_id is outdated and doesn't contain any valuable information
- id could also be removed, as it just represents rows and isn't connected to any of the other df

In [2]:
orderlines.head(20)

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38
5,1119114,295310,0,10,WDT0249,231.79,2017-01-01 01:14:27
6,1119115,299544,0,1,APP1582,1.137.99,2017-01-01 01:17:21
7,1119116,299545,0,1,OWC0100,47.49,2017-01-01 01:46:16
8,1119119,299546,0,1,IOT0014,18.99,2017-01-01 01:50:34
9,1119120,295347,0,1,APP0700,72.19,2017-01-01 01:54:11
10,1119125,299548,0,5,SPE0132,35.14,2017-01-01 02:02:20
11,1119126,299549,0,1,PAC0929,2.565.99,2017-01-01 02:07:42
12,1119127,299550,0,1,WDT0309,149.14,2017-01-01 02:09:52
13,1119129,299552,0,1,MBI0010,16.99,2017-01-01 02:13:51
14,1119130,299552,0,1,SAT0044,19.99,2017-01-01 02:14:36
15,1119131,299553,0,1,APP1854,3.278.99,2017-01-01 02:14:47
16,1119132,299554,0,1,WAC0171,59.84,2017-01-01 02:15:46
17,1119133,299555,0,1,BEA0065,256.49,2017-01-01 02:18:45
18,1119134,299556,0,1,CRU0039-A,60.90,2017-01-01 02:20:14
19,1119135,299557,0,1,NTE0082,37.99,2017-01-01 02:22:36

In [3]:
orderlines.tail(20)

,id,id_order,product_id,product_quantity,sku,unit_price,date
293963,1650178,527385,0,1,APP0927,13.99,2018-03-14 13:49:21
293964,1650180,527386,0,1,APP1922,161.00,2018-03-14 13:49:48
293965,1650181,527387,0,1,APP0698,9.99,2018-03-14 13:50:06
293966,1650183,527388,0,1,TPL0025,14.99,2018-03-14 13:51:59
293967,1650184,527389,0,1,APP0698,9.99,2018-03-14 13:52:15
293968,1650186,525853,0,1,OWC0035-2,71.89,2018-03-14 13:52:18
293969,1650187,527390,0,1,APP0698,9.99,2018-03-14 13:52:33
293970,1650189,527391,0,1,SAT0008,49.99,2018-03-14 13:53:31
293971,1650190,527392,0,1,ZAG0024,34.99,2018-03-14 13:53:44
293972,1650191,527393,0,1,ELA0026,13.99,2018-03-14 13:53:57
293973,1650193,527394,0,1,APP1922,161.00,2018-03-14 13:55:15
293974,1650194,527395,0,1,MMW0030,20.99,2018-03-14 13:55:22
293975,1650195,527396,0,1,PAC0653,141.58,2018-03-14 13:55:44
293976,1650196,527384,0,1,LAC0227,249.99,2018-03-14 13:56:02
293977,1650198,527397,0,1,JBL0122,42.99,2018-03-14 13:56:38
293978,1650199,527398,0,1,JBL0122,42.99,2018-03-14 13:57:25
293979,1650200,527399,0,1,PAC0653,141.58,2018-03-14 13:57:34
293980,1650201,527400,0,2,APP0698,9.99,2018-03-14 13:57:41
293981,1650202,527388,0,1,BEZ0204,19.99,2018-03-14 13:58:01
293982,1650203,527401,0,1,APP0927,13.99,2018-03-14 13:58:36

Every row represents each one of the different products involved in an order.
- id – a unique identifier for each row in this file
- id_order – corresponds to orders.order_id
- product_id – an old identifier for each product, nowadays not in use
- product_quantity – how many units of that product were purchased on that order
- sku – stock keeping unit: a unique identifier for each product
- unit_price – the unitary price (in euros) of each product at the moment of placing that order
- date – timestamp for the processing of that product

In [4]:
orderlines.columns

Index(['id', 'id_order', 'product_id', 'product_quantity', 'sku', 'unit_price',
       'date'],
      dtype='object')

## Dimensions of DataFrame

In [5]:
nrows = orderlines.shape[0]
ncols = orderlines.shape[1]
print("The number of rows is", nrows)
print("The number of columns is", ncols)

The number of rows is 293983
The number of columns is 7

In [6]:
orderlines.size

2057881

## DataFrame description

In [7]:
orderlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

In [8]:
orderlines.describe()

                 id       id_order  product_id  product_quantity
count  2.939830e+05  293983.000000    293983.0     293983.000000
mean   1.397918e+06  419999.116544         0.0          1.121126
std    1.530096e+05   66344.486479         0.0          3.396569
min    1.119109e+06  241319.000000         0.0          1.000000
25%    1.262542e+06  362258.500000         0.0          1.000000
50%    1.406940e+06  425956.000000         0.0          1.000000
75%    1.531322e+06  478657.000000         0.0          1.000000
max    1.650203e+06  527401.000000         0.0        999.000000

In [9]:
orderlines.describe(include = "all")

,id,id_order,product_id,product_quantity,sku,unit_price,date
count,2.939830e+05,293983.000000,293983.0,293983.000000,293983,293983,293983
unique,NaN,NaN,NaN,NaN,7951,11329,251631
top,NaN,NaN,NaN,NaN,MIC0036,19.99,2018-03-05 10:36:05
freq,NaN,NaN,NaN,NaN,6282,8132,190
mean,1.397918e+06,419999.116544,0.0,1.121126,NaN,NaN,NaN
std,1.530096e+05,66344.486479,0.0,3.396569,NaN,NaN,NaN
min,1.119109e+06,241319.000000,0.0,1.000000,NaN,NaN,NaN
25%,1.262542e+06,362258.500000,0.0,1.000000,NaN,NaN,NaN
50%,1.406940e+06,425956.000000,0.0,1.000000,NaN,NaN,NaN
75%,1.531322e+06,478657.000000,0.0,1.000000,NaN,NaN,NaN
max,1.650203e+06,527401.000000,0.0,999.000000,NaN,NaN,NaN

In [10]:
orderlines.nlargest(15, "product_quantity")

,id,id_order,product_id,product_quantity,sku,unit_price,date
53860,1228150,346221,0,999,APP1190,55.99,2017-04-14 21:50:52
68712,1254032,358747,0,999,SEV0028,19.99,2017-05-24 14:51:58
57796,1234924,349475,0,800,KIN0137,7.49,2017-04-25 09:59:00
57306,1234111,349133,0,555,APP0665,70.99,2017-04-24 10:20:13
40813,1204788,335057,0,201,THU0029,80.99,2017-03-14 15:25:53
136675,1388261,417536,0,200,TRK0009,29.99,2017-10-25 15:02:39
204637,1500715,464858,0,192,APP1662,519.00,2017-12-17 15:53:04
246048,1574262,496172,0,164,EVU0013,19.99,2018-01-22 16:14:42
27779,1180010,323959,0,126,ADN0039,34.99,2017-02-14 10:21:12
285492,1637611,522075,0,125,XDO0047,25.99,2018-03-06 10:07:54
31113,1186266,326720,0,100,TRK0011,49.99,2017-02-20 14:28:51
70916,1258091,360574,0,100,KIN0078,60.99,2017-05-30 12:40:09
31668,1187373,327202,0,99,STM0093,39.99,2017-02-21 16:01:43
72394,1260700,361853,0,99,APP1986,879.00,2017-06-03 00:51:07
39923,1203123,334310,0,98,APP1632,1.019.00,2017-03-12 12:59:10

In [11]:
orderlines.nsmallest(15, "product_quantity")

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38
6,1119115,299544,0,1,APP1582,1.137.99,2017-01-01 01:17:21
7,1119116,299545,0,1,OWC0100,47.49,2017-01-01 01:46:16
8,1119119,299546,0,1,IOT0014,18.99,2017-01-01 01:50:34
9,1119120,295347,0,1,APP0700,72.19,2017-01-01 01:54:11
11,1119126,299549,0,1,PAC0929,2.565.99,2017-01-01 02:07:42
12,1119127,299550,0,1,WDT0309,149.14,2017-01-01 02:09:52
13,1119129,299552,0,1,MBI0010,16.99,2017-01-01 02:13:51
14,1119130,299552,0,1,SAT0044,19.99,2017-01-01 02:14:36
15,1119131,299553,0,1,APP1854,3.278.99,2017-01-01 02:14:47
16,1119132,299554,0,1,WAC0171,59.84,2017-01-01 02:15:46

In [12]:
orderlines.id_order.count()

293983

In [13]:
orderlines.id_order.nunique()

204855

In [14]:
orderlines.sku.nunique()

7951

In [15]:
# no duplicates
orderlines.duplicated().sum()

0

In [16]:
# top 3 id_orders
orderlines.id_order.value_counts().head(3)

395611    256
484334    140
301934    131
Name: id_order, dtype: int64

In [17]:
# what sku(product) has been purchased the most
orderlines.groupby(['sku'])['product_quantity'].sum().sort_values(ascending = False)

# product with sku = APP1190 has been purchased the most

sku
APP1190      6366
MIC0036      6316
APP1216      5648
APP0662      5487
APP0663      4164
             ...
TPL0032-A       1
APP0271-A       1
APP0241-A       1
TPL0034-A       1
PAC2021         1
Name: product_quantity, Length: 7951, dtype: int64

## Missing values

In [18]:
# examining missing values
print("Missing values distribution: ")
print(orderlines.isnull().mean())
print("")

Missing values distribution:
id                  0.0
id_order            0.0
product_id          0.0
product_quantity    0.0
sku                 0.0
unit_price          0.0
date                0.0
dtype: float64

In [21]:
orderlines.loc[orderlines['sku'].str.startswith('REP'),:]

,id,id_order,product_id,product_quantity,sku,unit_price,date
320,1119714,299838,0,1,REP0151,47.41,2017-01-01 18:06:11
771,1120586,300269,0,1,REP0239,59.90,2017-01-02 08:41:15
1033,1121164,300497,0,1,REP0134,89.99,2017-01-02 12:44:12
1095,1121342,300556,0,1,REP0060,39.91,2017-01-02 13:42:17
1490,1122180,300923,0,2,REP0060,39.91,2017-01-02 19:51:27
...,...,...,...,...,...,...,...
292052,1646712,525751,0,1,REP0308,59.99,2018-03-12 08:19:18
292694,1647938,526281,0,1,REP0270,49.99,2018-03-13 09:18:27
293232,1648823,526697,0,1,REP0216,39.99,2018-03-13 22:35:00
293942,1650146,527367,0,1,REP0250,69.90,2018-03-14 13:39:34
293944,1650149,527367,0,1,REP0299,59.99,2018-03-14 13:40:04